h1 {
  text-align: center;
}

#Title {
  text-align: center;


  background-color: red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 2.5em;
  color: white;
}

.titl {
  font-size: 3em;
  font-weight: bold;
}

#out_one, #out_two, #out_three, #out_four{
  text-align: center;
}

#player {
  text-align: center;
  padding-top: 1em;
}


.butt {
  text-align: center;
  padding-bottom: 1em;
}

.rmv-pad {
  margin-bottom: 0;
  padding-bottom: 0;
}

.add_pad {
  padding-bottom: 1em;
}

.add_top_pad {
  padding-top: 2em;
}


.space {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.bord {
  background-color: red;
  color: white;
}
